<div id="<%= dom_id booking_treatment %>">
  <p>
    <strong>Booking:</strong>
    <%= booking_treatment.booking_id %>
  </p>

  <p>
    <strong>Treatment:</strong>
    <%= booking_treatment.treatment_id %>
  </p>

</div>
