<h1>Editing booking treatment</h1>

<%= render "form", booking_treatment: @booking_treatment %>

<br>

<div>
  <%= link_to "Show this booking treatment", @booking_treatment %> |
  <%= link_to "Back to booking treatments", booking_treatments_path %>
</div>
